<div
  class="flex flex-col items-center justify-center p-5 shadow-inner select-none"
>
  <ng-container *ngIf="checkForBingo()">
    <app-win [bingoText]="bingoText" class="fixed"></app-win>
  </ng-container>
  <div *ngFor="let row of bingoGrid; let i = index" class="flex">
    <div
      *ngFor="let word of row; let j = index"
      [ngClass]="{
        '!bg-gray-800 !border-gray-700': word.clicked && color === 'default',
        '!bg-green-800 !border-green-700': word.clicked && color === 'green',
        '!bg-blue-800 !border-blue-700': word.clicked && color === 'blue',
        '!bg-red-800 !border-red-700': word.clicked && color === 'red',
        '!bg-yellow-600 !border-yellow-500': word.clicked && color === 'yellow',
        '!bg-purple-800 !border-purple-700': word.clicked && color === 'purple',
        'border-gray-300 bg-gray-600 hover:bg-gray-500': color === 'default',
        'border-green-300 bg-green-600 hover:bg-green-500': color === 'green',
        'border-blue-300 bg-blue-600 hover:bg-blue-500': color === 'blue',
        'border-red-300 bg-red-600 hover:bg-red-500': color === 'red',
        'border-yellow-200 bg-yellow-500 hover:bg-yellow-300': color === 'yellow',
        'border-purple-300 bg-purple-600 hover:bg-purple-500': color === 'purple',
        'pointer-events-none': checkForBingo(),
      }"
      class="w-[66px] h-[66px] md:w-36 md:h-36 border-4 flex justify-center items-center m-1 rounded-lg shadow-inner"
      (click)="toggleCell(word)"
    >
      <p
        [ngClass]="{ '!text-gray-500': word.clicked }"
        class="text-white text-center text-[9px] md:text-base md:font-bold p-2 break-words"
      >
        {{ word.text }}
      </p>
      <span id="wordId" class="hidden"> {{ word.id }} </span>
    </div>
  </div>
</div>
